
@media (max-width: 1162px){
    .nav-li{
        margin-right: 30px;
    }
}
@media (max-width: 1114px){
  
}
@media (max-width: 1114px){
    .block-2{
        flex-wrap: wrap;
        justify-content: space-between;
        
    
    }
}
@media (max-width: 1050px){
    .nav-li{
        margin-right: 10px;
    }
}
@media (max-width: 1123px){
    .section-2-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-1 h6{
        font-size: 30px;
    }
    .block-1{
        width: 300px;
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 971px){
    .nav{
        display: none;
    }
    .font-awesome{
        display: block;
        font-size: 40px;
        display: flex;
        justify-content: space-around;
        padding-right: 30px;
    }
}
@media (max-width: 880px){
 
}
@media (max-width:854px){
   
}
@media (max-width: 842px){

    .block-2{
        justify-content: space-around;

    }
}
@media (max-width: 527px){
    .background-image h1{
        font-size: 50px;
    }

}
@media (max-width: 417px){
    .background-image{
        height: 400px;
    }
}
@media (max-width: 335px){
    .background-image h1{
        font-size: 30px;
    }
}
@media (max-width: 335px){
    .background-image h4{
        font-size: 10px;
    }
}
