@media (max-width: 1228px){
    .nav-li{
        font-size: 12px;
    }
}
@media (max-width: 1162px){
    .nav-li{
        margin-right: 30px;
    }
}
@media (max-width: 1114px){
  
}
@media (max-width: 1114px){
    .block-2{
        flex-wrap: wrap;
        justify-content: space-between;
        
    
    }
}
@media (max-width: 1050px){
    .nav-li{
        margin-right: 10px;
    }
}
@media (max-width: 970px){
    .nav-li{
        font-size: 8px;
    }
}
@media (max-width: 880px){
    .nav-li{
        display: none;
    }
    .header-wrapper{
        justify-content: end;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 842px){
    .block-1{
        display: none;
       
    }
    .block-2{
        justify-content: space-around;

    }
}
@media (max-width: 527px){
    .background-image h1{
        font-size: 50px;
    }

}
@media (max-width: 335px){
    .background-image h1{
        font-size: 30px;
    }
}
@media (max-width: 335px){
    .background-image h4{
        font-size: 10px;
    }
}
@media (max-width: 320px){
    .logo{
        margin: 0 auto;
    }
}